
streaks_fe/*.md
streaks_fe/logs
streaks_fe/*.log
streaks_fe/npm-debug.log*
streaks_fe/yarn-debug.log*
streaks_fe/yarn-error.log*
streaks_fe/pnpm-debug.log*
streaks_fe/lerna-debug.log*

streaks_fe/node_modules
streaks_fe/.DS_Store
streaks_fe/dist
streaks_fe/dist-ssr
streaks_fe/coverage
streaks_fe/*.local
streaks_fe/.vscode/*
*.env
kaggle.*
__pycache__
*.png
*.csv
*.ipynb
*.zip
kaggle.json
streaks.json
test.py

streaks_fe/.gitignore
streaks_fe/src/components/__tests__/HelloWorld.spec.js
streaks_fe/.vscode/extensions.json
streaks_fe/src/data/streaks.json
firebase-debug.log
